*{
    font-family: 'Josefin Sans', sans-serif;
} 

body::before{
    content: '';
    display: block;
    height: 50px;
}
.name{
    color: #A460ED;
}

.btn{
    background-color: #00B2EE;
}
.img-fluid{
    border-radius: 10%;
    width: 30%;
}

.fa-github{
    font-size: 40px;
    color: #A460ED;
}

.fa-linkedin{
    font-size: 40px;
    color: #A460ED;
}

.fa-twitter{
    font-size: 40px;
    color: #A460ED;
}

.card{
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    background-color: black;
    color: white;
}

.card-body{
    text-align: center;
}

.email{
    text-decoration: none;
    color: black;
}
 
.row{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: black;
    color: white;
}

#logo{
    width:4vw;
}

.Home{
    background-color: black;
    color: white;
}

.Projects{
    background-color: black;
    
}

.Skills{
    background-color: black;
    color: white;
}

.Contact{
 background-color: white;
 color: black;
 text-align: center;
}

.fa-phone{
    color: black !important;
font-size: 20px !important;
}

.fa-phone p{
    font-size: 20px !important;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}

.dow{
    padding-top: 1.5% !important;
    background-color: #A460ED !important;
}